venv-images/**
dns/**
random/**
images/**
interviews/**
/python/fastapi-testing/rack-root-testing/venv-rr/**
python/fastapi-testing/rack-root-testing/backend/*.db
__init__.py
*.pyc
python/fastapi-testing/rack-root-testing/backend/tests/notes.txt
python/fastapi-testing/rack-root-testing/frontend/.vite/**
python/fastapi-testing/venv-nuxt/**
python/fastapi-testing/nuxt-ui-pro-dashboard/**
python/fastapi-testing/rack-root-testing/node_modules/**
python/fastapi-testing/rack-root-testing/package*.json
